In [79]:
from pyspark.sql import SparkSession
import getpass
username = getpass.getuser()
spark = SparkSession. \
    builder. \
    config('spark.ui.port','0'). \
    config("spark.sql.warehouse.dir",f"/user/itv010130/warehouse"). \
    enableHiveSupport(). \
    master('yarn'). \
    getOrCreate()

### Customer Data

In [2]:
customer_df = spark.read \
.option("header", True) \
.format("csv") \
.option("inferSchema", True) \
.load("/user/itv010130/loanproject/raw/customer_data_csv")

In [3]:
customer_df

+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_inc|addr_state|zip_code|country|grade|sub_grade|verification_status|tot_hi_cred_lim|application_type|annual_inc_joint|verification_status_joint|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
|6d5091b3fcaaeb4ea...|             leadman| 10+ years|      MORTGAGE|   55000.0|        PA|   190xx|    USA|    C|       C4|       Not Verified|       178050.0|      Individual|            null|                     null|
|b5e7938b0a2da4cea...|            Engineer| 10+ years|      MORTGAGE|   65000.0|        SD|   577xx|    USA|    C|       C1|       Not Verified|       314017.0|      Individual|            null|                     null|
|91060b858433e8a61...|        truck driver| 10+ years|      MORTGAGE|   63000.0|        IL|   605xx|    USA|    B|       B4|       Not Verified|       218418.0|       Joint App|         71000.0|             Not Verified|
|cab1fa9f533688b0a...|Information Syste...| 10+ years|      MORTGAGE|  110000.0|        NJ|   076xx|    USA|    C|       C5|    Source Verified|       381215.0|      Individual|            null|                     null|
|f74e401c1ab0adf78...| Contract Specialist|   3 years|      MORTGAGE|  104433.0|        PA|   174xx|    USA|    F|       F1|    Source Verified|       439570.0|      Individual|            null|                     null|
|8aef4bb29d609d8d6...|Veterinary Tecnician|   4 years|          RENT|   34000.0|        GA|   300xx|    USA|    C|       C3|    Source Verified|        16900.0|      Individual|            null|                     null|
|538b4653da3b1e814...|Vice President of...| 10+ years|      MORTGAGE|  180000.0|        MN|   550xx|    USA|    B|       B2|       Not Verified|       388852.0|      Individual|            null|                     null|
|b24d55f21390533c5...|         road driver| 10+ years|      MORTGAGE|   85000.0|        SC|   293xx|    USA|    B|       B1|       Not Verified|       193390.0|      Individual|            null|                     null|
|1035c5401b0ca76d0...|     SERVICE MANAGER|   6 years|          RENT|   85000.0|        PA|   160xx|    USA|    A|       A2|       Not Verified|        61099.0|      Individual|            null|                     null|
|cb0f1777593e77909...|      Vendor liaison| 10+ years|      MORTGAGE|   42000.0|        RI|   029xx|    USA|    B|       B5|       Not Verified|       256513.0|      Individual|            null|                     null|
|a962f4d59caec5fa1...|  Executive Director|   6 years|      MORTGAGE|   95000.0|        SC|   290xx|    USA|    C|       C2|       Not Verified|       436841.0|      Individual|            null|                     null|
|e7592ab57b3afd9f1...|Senior Structural...|    1 year|      MORTGAGE|   70000.0|        TX|   786xx|    USA|    C|       C2|       Not Verified|       309638.0|      Individual|            null|                     null|
|603afa9d1be879b7b...|   Logistics Manager|   3 years|      MORTGAGE|   64000.0|        NC|   275xx|    USA|    C|       C2|       Not Verified|       372109.0|      Individual|            null|                     null|
|9fe2d59ddf2a4f37e...|    Software Manager|   7 years|          RENT|  150000.0|        CA|   916xx|    USA|    E|       E2|       Not Verified|        65819.0|      Individual|            null|                     null|
|23857480ccf555ce4...|      Senior Manager| 10+ years|      MORTGAGE|   92000.0|        NC|   275xx|    USA|    A|       A2|       Not Verified|       304003.0|      Individual|            null|                     null|
|7c69d5f36fdabf6e1...|                tech|   8 years|      MORTGAGE|   60000.0|        SC|   299xx|    USA|    A|       A4|       Not Verified|        88635.0|      Individual|            null|                     null|
|08bf9e080503b0113...|       Sales Manager| 10+ years|      MORTGAGE|  109000.0|        VA|   226xx|    USA|    A|       A4|       Not Verified|       373572.0|      Individual|            null|                     null|
|1cafb05aa6c894c30...|               GS-11| 10+ years|      MORTGAGE|  112000.0|        AZ|   856xx|    USA|    C|       C1|       Not Verified|       309710.0|      Individual|            null|                     null|
|f2c4010f700d8c9c4...|             Teacher|   5 years|          RENT|   64000.0|        NY|   117xx|    USA|    B|       B1|       Not Verified|        93962.0|      Individual|            null|                     null|
|05ad4aed7c393035e...| Program Coordinator|   8 years|          RENT|   55000.0|        IN|   462xx|    USA|    E|       E3|           Verified|        38998.0|      Individual|            null|                     null|
+--------------------+--------------------+----------+--------------+----------+----------+--------+-------+-----+---------+-------------------+---------------+----------------+----------------+-------------------------+
only showing top 20 rows

In [4]:
customer_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: string (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: double (nullable = true)
 |-- application_type: string (nullable = true)
 |-- annual_inc_joint: string (nullable = true)
 |-- verification_status_joint: string (nullable = true)

In [3]:
customer_schema = 'member_id string,emp_title string,emp_length string,home_ownership string,annual_inc float,addr_state string,zip_code string,country string,grade string,sub_grade string,verification_status string,tot_hi_cred_lim float,applicatio_type string,annual_inc_joint float,verification_status_joint string'

In [4]:
customer_df = spark.read \
.option("header", True) \
.format("csv") \
.schema(customer_schema) \
.load("/user/itv010130/loanproject/raw/customer_data_csv")

In [7]:
customer_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_inc: float (nullable = true)
 |-- addr_state: string (nullable = true)
 |-- zip_code: string (nullable = true)
 |-- country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- tot_hi_cred_lim: float (nullable = true)
 |-- applicatio_type: string (nullable = true)
 |-- annual_inc_joint: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)

In [5]:
customer_modified_df = customer_df.withColumnRenamed("annual_inc","annual_income") \
.withColumnRenamed("addr_state","address_state") \
.withColumnRenamed("zip_code","address_zipcode") \
.withColumnRenamed("country","address_country") \
.withColumnRenamed("tot_hi_cred_lim","total_high_credit_limit") \
.withColumnRenamed("annual_inc_joint","join_annual_income") \

In [9]:
customer_modified_df

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|applicatio_type|join_annual_income|verification_status_joint|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+
|6d5091b3fcaaeb4ea...|             leadman| 10+ years|      MORTGAGE|      55000.0|           PA|          190xx|            USA|    C|       C4|       Not Verified|               178050.0|     Individual|              null|                     null|
|b5e7938b0a2da4cea...|            Engineer| 10+ years|      MORTGAGE|      65000.0|           SD|          577xx|            USA|    C|       C1|       Not Verified|               314017.0|     Individual|              null|                     null|
|91060b858433e8a61...|        truck driver| 10+ years|      MORTGAGE|      63000.0|           IL|          605xx|            USA|    B|       B4|       Not Verified|               218418.0|      Joint App|           71000.0|             Not Verified|
|cab1fa9f533688b0a...|Information Syste...| 10+ years|      MORTGAGE|     110000.0|           NJ|          076xx|            USA|    C|       C5|    Source Verified|               381215.0|     Individual|              null|                     null|
|f74e401c1ab0adf78...| Contract Specialist|   3 years|      MORTGAGE|     104433.0|           PA|          174xx|            USA|    F|       F1|    Source Verified|               439570.0|     Individual|              null|                     null|
|8aef4bb29d609d8d6...|Veterinary Tecnician|   4 years|          RENT|      34000.0|           GA|          300xx|            USA|    C|       C3|    Source Verified|                16900.0|     Individual|              null|                     null|
|538b4653da3b1e814...|Vice President of...| 10+ years|      MORTGAGE|     180000.0|           MN|          550xx|            USA|    B|       B2|       Not Verified|               388852.0|     Individual|              null|                     null|
|b24d55f21390533c5...|         road driver| 10+ years|      MORTGAGE|      85000.0|           SC|          293xx|            USA|    B|       B1|       Not Verified|               193390.0|     Individual|              null|                     null|
|1035c5401b0ca76d0...|     SERVICE MANAGER|   6 years|          RENT|      85000.0|           PA|          160xx|            USA|    A|       A2|       Not Verified|                61099.0|     Individual|              null|                     null|
|cb0f1777593e77909...|      Vendor liaison| 10+ years|      MORTGAGE|      42000.0|           RI|          029xx|            USA|    B|       B5|       Not Verified|               256513.0|     Individual|              null|                     null|
|a962f4d59caec5fa1...|  Executive Director|   6 years|      MORTGAGE|      95000.0|           SC|          290xx|            USA|    C|       C2|       Not Verified|               436841.0|     Individual|              null|                     null|
|e7592ab57b3afd9f1...|Senior Structural...|    1 year|      MORTGAGE|      70000.0|           TX|          786xx|            USA|    C|       C2|       Not Verified|               309638.0|     Individual|              null|                     null|
|603afa9d1be879b7b...|   Logistics Manager|   3 years|      MORTGAGE|      64000.0|           NC|          275xx|            USA|    C|       C2|       Not Verified|               372109.0|     Individual|              null|                     null|
|9fe2d59ddf2a4f37e...|    Software Manager|   7 years|          RENT|     150000.0|           CA|          916xx|            USA|    E|       E2|       Not Verified|                65819.0|     Individual|              null|                     null|
|23857480ccf555ce4...|      Senior Manager| 10+ years|      MORTGAGE|      92000.0|           NC|          275xx|            USA|    A|       A2|       Not Verified|               304003.0|     Individual|              null|                     null|
|7c69d5f36fdabf6e1...|                tech|   8 years|      MORTGAGE|      60000.0|           SC|          299xx|            USA|    A|       A4|       Not Verified|                88635.0|     Individual|              null|                     null|
|08bf9e080503b0113...|       Sales Manager| 10+ years|      MORTGAGE|     109000.0|           VA|          226xx|            USA|    A|       A4|       Not Verified|               373572.0|     Individual|              null|                     null|
|1cafb05aa6c894c30...|               GS-11| 10+ years|      MORTGAGE|     112000.0|           AZ|          856xx|            USA|    C|       C1|       Not Verified|               309710.0|     Individual|              null|                     null|
|f2c4010f700d8c9c4...|             Teacher|   5 years|          RENT|      64000.0|           NY|          117xx|            USA|    B|       B1|       Not Verified|                93962.0|     Individual|              null|                     null|
|05ad4aed7c393035e...| Program Coordinator|   8 years|          RENT|      55000.0|           IN|          462xx|            USA|    E|       E3|           Verified|                38998.0|     Individual|              null|                     null|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+
only showing top 20 rows

In [6]:
from pyspark.sql.functions import current_timestamp

In [7]:
customer_df = customer_modified_df.withColumn("ingestion_date",current_timestamp())

In [12]:
customer_df

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|applicatio_type|join_annual_income|verification_status_joint|      ingestion_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|6d5091b3fcaaeb4ea...|             leadman| 10+ years|      MORTGAGE|      55000.0|           PA|          190xx|            USA|    C|       C4|       Not Verified|               178050.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|b5e7938b0a2da4cea...|            Engineer| 10+ years|      MORTGAGE|      65000.0|           SD|          577xx|            USA|    C|       C1|       Not Verified|               314017.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|91060b858433e8a61...|        truck driver| 10+ years|      MORTGAGE|      63000.0|           IL|          605xx|            USA|    B|       B4|       Not Verified|               218418.0|      Joint App|           71000.0|             Not Verified|2024-07-02 00:20:...|
|cab1fa9f533688b0a...|Information Syste...| 10+ years|      MORTGAGE|     110000.0|           NJ|          076xx|            USA|    C|       C5|    Source Verified|               381215.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|f74e401c1ab0adf78...| Contract Specialist|   3 years|      MORTGAGE|     104433.0|           PA|          174xx|            USA|    F|       F1|    Source Verified|               439570.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|8aef4bb29d609d8d6...|Veterinary Tecnician|   4 years|          RENT|      34000.0|           GA|          300xx|            USA|    C|       C3|    Source Verified|                16900.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|538b4653da3b1e814...|Vice President of...| 10+ years|      MORTGAGE|     180000.0|           MN|          550xx|            USA|    B|       B2|       Not Verified|               388852.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|b24d55f21390533c5...|         road driver| 10+ years|      MORTGAGE|      85000.0|           SC|          293xx|            USA|    B|       B1|       Not Verified|               193390.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|1035c5401b0ca76d0...|     SERVICE MANAGER|   6 years|          RENT|      85000.0|           PA|          160xx|            USA|    A|       A2|       Not Verified|                61099.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|cb0f1777593e77909...|      Vendor liaison| 10+ years|      MORTGAGE|      42000.0|           RI|          029xx|            USA|    B|       B5|       Not Verified|               256513.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|a962f4d59caec5fa1...|  Executive Director|   6 years|      MORTGAGE|      95000.0|           SC|          290xx|            USA|    C|       C2|       Not Verified|               436841.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|e7592ab57b3afd9f1...|Senior Structural...|    1 year|      MORTGAGE|      70000.0|           TX|          786xx|            USA|    C|       C2|       Not Verified|               309638.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|603afa9d1be879b7b...|   Logistics Manager|   3 years|      MORTGAGE|      64000.0|           NC|          275xx|            USA|    C|       C2|       Not Verified|               372109.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|9fe2d59ddf2a4f37e...|    Software Manager|   7 years|          RENT|     150000.0|           CA|          916xx|            USA|    E|       E2|       Not Verified|                65819.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|23857480ccf555ce4...|      Senior Manager| 10+ years|      MORTGAGE|      92000.0|           NC|          275xx|            USA|    A|       A2|       Not Verified|               304003.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|7c69d5f36fdabf6e1...|                tech|   8 years|      MORTGAGE|      60000.0|           SC|          299xx|            USA|    A|       A4|       Not Verified|                88635.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|08bf9e080503b0113...|       Sales Manager| 10+ years|      MORTGAGE|     109000.0|           VA|          226xx|            USA|    A|       A4|       Not Verified|               373572.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|1cafb05aa6c894c30...|               GS-11| 10+ years|      MORTGAGE|     112000.0|           AZ|          856xx|            USA|    C|       C1|       Not Verified|               309710.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|f2c4010f700d8c9c4...|             Teacher|   5 years|          RENT|      64000.0|           NY|          117xx|            USA|    B|       B1|       Not Verified|                93962.0|     Individual|              null|                     null|2024-07-02 00:20:...|
|05ad4aed7c393035e...| Program Coordinator|   8 years|          RENT|      55000.0|           IN|          462xx|            USA|    E|       E3|           Verified|                38998.0|     Individual|              null|                     null|2024-07-02 00:20:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [13]:
customer_df.count()

2260701

In [14]:
customer_df.distinct().count()

2260638

In [8]:
customer_distinct = customer_df.distinct()

In [9]:
customer_distinct.createOrReplaceTempView("customer_data")

In [17]:
spark.sql("select count(*) from customer_data where annual_income is null")

+--------+
|count(1)|
+--------+
|       5|
+--------+

In [10]:
customer_filtered_df = spark.sql("select * from customer_data where annual_income is not null")

In [11]:
customer_filtered_df.createOrReplaceTempView("customer_data")

In [20]:
spark.sql("select count(*) from customer_data where annual_income is null")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [21]:
spark.sql("select distinct(emp_length) from customer_data")

+----------+
|emp_length|
+----------+
|   5 years|
|   9 years|
|      null|
|    1 year|
|   2 years|
|   7 years|
|   8 years|
|   4 years|
|   6 years|
|   3 years|
| 10+ years|
|  < 1 year|
+----------+

In [12]:
from pyspark.sql.functions import regexp_replace, col

In [13]:
customer_emplength_cleaned = customer_filtered_df.withColumn("emp_length",regexp_replace(col("emp_length"),"\D",""))

In [24]:
customer_emplength_cleaned

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|applicatio_type|join_annual_income|verification_status_joint|      ingestion_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|c3f05220a83b200ae...|           President|         7|      MORTGAGE|     160000.0|           TX|          750xx|            USA|    B|       B4|       Not Verified|               149147.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|a5fb9497cbe9b5266...|      Police Officer|         1|      MORTGAGE|      97000.0|           IL|          610xx|            USA|    B|       B5|    Source Verified|               259782.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|563504194a95e7cca...|     System Engineer|        10|      MORTGAGE|     120000.0|           CO|          801xx|            USA|    D|       D3|           Verified|                98670.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|817b7bcbadfce74dd...|Child Family Serv...|         1|          RENT|      53000.0|           NJ|          089xx|            USA|    C|       C3|           Verified|                37926.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|485bfce74ba048eea...|Utility Business ...|        10|      MORTGAGE|      73000.0|           SC|          291xx|            USA|    C|       C5|       Not Verified|               322888.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|555c68c0144b133df...|                null|      null|           OWN|      28600.0|           CA|          925xx|            USA|    F|       F1|           Verified|                38770.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|d5871384b63d00933...|             Auditor|         1|      MORTGAGE|      56888.0|           FL|          335xx|            USA|    C|       C5|    Source Verified|                84238.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|23c0f69c0a33244f0...|Automation Specia...|         8|      MORTGAGE|     110000.0|           TX|          774xx|            USA|    A|       A5|       Not Verified|               308788.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|42d0743ba0e5d3799...|Manager Software ...|        10|      MORTGAGE|     133760.0|           CO|          800xx|            USA|    B|       B2|       Not Verified|               266977.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|e8ec2145d07c1c774...|Director of Netwo...|         3|           OWN|     150000.0|           CA|          912xx|            USA|    B|       B4|           Verified|               823776.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|1651d438386f9a7eb...|                null|      null|      MORTGAGE|      50000.0|           NY|          109xx|            USA|    F|       F1|           Verified|               205025.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|9eeb04aa76850b3de...|           machinist|        10|      MORTGAGE|      48000.0|           FL|          347xx|            USA|    B|       B2|           Verified|               355980.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|f2c86617340c7d000...|First shift super...|         6|          RENT|      39240.0|           IL|          600xx|            USA|    C|       C5|    Source Verified|                38081.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|a050d022a8d0b8228...|     Account Manager|        10|      MORTGAGE|      85000.0|           MA|          010xx|            USA|    B|       B5|    Source Verified|                83329.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|a0a28777de9bf67f9...| Assistant principal|        10|      MORTGAGE|      94000.0|           TX|          750xx|            USA|    A|       A4|    Source Verified|               120966.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|c0f06a4b68cf429a3...|          Superviser|         3|          RENT|     120000.0|           IL|          606xx|            USA|    D|       D4|       Not Verified|                83800.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|e011e1bbe38230d9a...|             Steward|         4|           OWN|      80000.0|           MI|          497xx|            USA|    C|       C1|       Not Verified|                51663.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|ffbb92adddb771bde...|   Financial Advisor|        10|          RENT|      60000.0|           TX|          787xx|            USA|    C|       C3|           Verified|               299678.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|5160e0dac05d39ef1...|           Paralegal|         9|      MORTGAGE|      64000.0|           NJ|          078xx|            USA|    A|       A4|    Source Verified|               197941.0|     Individual|              null|                     null|2024-07-02 00:22:...|
|73bf0f5369f624e15...|VP Business Solut...|         4|      MORTGAGE|     135000.0|           TX|          754xx|            USA|    B|       B1|       Not Verified|               244417.0|     Individual|              null|                     null|2024-07-02 00:22:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [25]:
customer_emplength_cleaned.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: string (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- applicatio_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingestion_date: timestamp (nullable = false)

In [14]:
customer_emplength_casted_df = customer_emplength_cleaned.withColumn("emp_length",customer_emplength_cleaned.emp_length.cast("int"))

In [27]:
customer_emplength_casted_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- emp_title: string (nullable = true)
 |-- emp_length: integer (nullable = true)
 |-- home_ownership: string (nullable = true)
 |-- annual_income: float (nullable = true)
 |-- address_state: string (nullable = true)
 |-- address_zipcode: string (nullable = true)
 |-- address_country: string (nullable = true)
 |-- grade: string (nullable = true)
 |-- sub_grade: string (nullable = true)
 |-- verification_status: string (nullable = true)
 |-- total_high_credit_limit: float (nullable = true)
 |-- applicatio_type: string (nullable = true)
 |-- join_annual_income: float (nullable = true)
 |-- verification_status_joint: string (nullable = true)
 |-- ingestion_date: timestamp (nullable = false)

In [90]:
customer_emplength_casted_df.filter("emp_length is null").count()

146903

In [15]:
customer_emplength_casted_df.createOrReplaceTempView("customer_data")

In [16]:
avg_emp_length = spark.sql("select floor(avg(emp_length)) as avg_emp_length from customer_data").collect()

In [95]:
print(avg_emp_length)

[Row(avg_emp_length=6)]

In [18]:
avg_employment = avg_emp_length [0][0]

In [97]:
print(avg_employment)

6

In [19]:
customer_emp_length_filled =customer_emplength_casted_df.na.fill(avg_employment,subset=['emp_length'])

In [44]:
customer_emp_length_filled

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|applicatio_type|join_annual_income|verification_status_joint|      ingestion_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|7a7c0a815b55657b0...|Transportation Ma...|        10|      MORTGAGE|      95000.0|           MD|          217xx|            USA|    A|       A1|       Not Verified|               363599.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|8908d09927e803f82...|               Buyer|         7|      MORTGAGE|      40000.0|           MO|          630xx|            USA|    C|       C5|       Not Verified|               223127.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|a8a945a4e3744e02a...|Customer service ...|        10|      MORTGAGE|      39000.0|           VA|          224xx|            USA|    D|       D4|       Not Verified|               124859.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|01a5b656e05594ca3...|        Support Tech|        10|      MORTGAGE|      50000.0|           MN|          554xx|            USA|    D|       D5|    Source Verified|                69845.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|b5a8619cf74fedd50...|     General Manager|        10|          RENT|      85986.0|           PA|          151xx|            USA|    D|       D3|           Verified|                91052.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|fabe15d1d5c2ff4d1...| Associate Registrar|         5|      MORTGAGE|      50900.0|           CO|          800xx|            USA|    E|       E3|           Verified|               272727.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|f89688e3558fb252a...|Accounts Payable ...|         7|          RENT|      42500.0|           TX|          787xx|            USA|    A|       A4|    Source Verified|                58968.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|178b74c6302c97ea4...|    Registered Nurse|         6|          RENT|     100000.0|           CA|          941xx|            USA|    D|       D1|           Verified|                75783.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|77c72a8d42df2984c...|     Project Manager|         7|      MORTGAGE|      79000.0|           LA|          707xx|            USA|    C|       C1|           Verified|                93891.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|34e3c63d4e1964681...|       Researcher II|         4|           OWN|      37000.0|           TX|          770xx|            USA|    D|       D2|    Source Verified|                23600.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|32349009c1fe56e6f...|            educator|        10|      MORTGAGE|      89000.0|           NJ|          078xx|            USA|    B|       B1|    Source Verified|               368266.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|9b32d96ca94a42b62...|          Train Mech|        10|      MORTGAGE|     105000.0|           MD|          211xx|            USA|    B|       B1|    Source Verified|               411424.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|6074a6349e03e9f0b...|               Mixer|        10|      MORTGAGE|      78000.0|           PA|          175xx|            USA|    C|       C3|           Verified|               289870.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|ba385aa9f6af07317...|   Office Technician|         6|      MORTGAGE|      42000.0|           CA|          958xx|            USA|    A|       A3|       Not Verified|                26000.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|533c0a3644669c0ee...|Senior Software e...|         6|      MORTGAGE|     115000.0|           NC|          282xx|            USA|    A|       A5|       Not Verified|               356450.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|985e9223794cef818...|             Teacher|         5|      MORTGAGE|      68800.0|           TN|          371xx|            USA|    A|       A5|           Verified|               389370.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|21b681ca3452507db...|             Manager|        10|          RENT|      80000.0|           AZ|          857xx|            USA|    B|       B4|           Verified|                60364.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|8a09faf141b49713c...|    Facility Manager|         7|      MORTGAGE|      82800.0|           MO|          640xx|            USA|    B|       B1|    Source Verified|                47795.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|12e2615db6d9f7acf...|       Produce clerk|         9|          RENT|      30000.0|           GA|          309xx|            USA|    C|       C1|       Not Verified|                24204.0|     Individual|              null|                     null|2024-07-02 00:34:...|
|931b3dd7e3f458588...|         tech writer|        10|          RENT|      38000.0|           FL|          329xx|            USA|    E|       E4|           Verified|                57754.0|     Individual|              null|                     null|2024-07-02 00:34:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [45]:
customer_emp_length_filled.filter("emp_length is null").count()

0

In [20]:
customer_emp_length_filled.createOrReplaceTempView("customer_data")

In [54]:
spark.sql("select count(*) from customer_data where length(address_state) > 2")

+--------+
|count(1)|
+--------+
|     254|
+--------+

In [55]:
spark.sql("select distinct(address_state) from customer_data")

+--------------------+
|       address_state|
+--------------------+
|Helping Kenya's D...|
|               223xx|
|175 (total projec...|
|                  AZ|
|                  SC|
|I am 56 yrs. old ...|
|so Plan ""C"" is ...|
|financially I mad...|
|but no one will l...|
|                  LA|
|         etc.  First|
|                  MN|
|yet Capital One n...|
|               499xx|
|               850xx|
|Eliminating Credi...|
|Advocate business...|
|and MBA's are ove...|
|I the credit card...|
|               662xx|
+--------------------+
only showing top 20 rows

In [21]:
from pyspark.sql.functions import when,col,length

In [22]:
customer_cleaned_state = customer_emp_length_filled.withColumn("address_state",when(length(col("address_state"))>2,"NA").otherwise(col("address_state")))

In [63]:
customer_cleaned_state

+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|           member_id|           emp_title|emp_length|home_ownership|annual_income|address_state|address_zipcode|address_country|grade|sub_grade|verification_status|total_high_credit_limit|applicatio_type|join_annual_income|verification_status_joint|      ingestion_date|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
|01d8c6f6e6eb3fbda...|             Teacher|         1|          RENT|      53000.0|           KS|          660xx|            USA|    C|       C4|           Verified|               105218.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|8c155f98987a4007b...|           President|         7|          RENT|     120000.0|           WA|          982xx|            USA|    A|       A2|    Source Verified|               300918.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|8e98f1a291058627d...|               Sales|         3|      MORTGAGE|      75000.0|           CA|          935xx|            USA|    C|       C2|       Not Verified|               275625.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|7d60bb832a97f7d83...|               Sales|         2|           OWN|      75000.0|           CA|          959xx|            USA|    C|       C5|           Verified|                61099.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|7b7ca7b5bc91fda0f...|    MACHINE OPERATOR|         4|          RENT|      34944.0|           WI|          547xx|            USA|    C|       C2|    Source Verified|                32091.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|5184cddd21f6abf7a...|               clerk|        10|          RENT|      30000.0|           GA|          300xx|            USA|    D|       D2|           Verified|                41927.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|a87f63aa085122e88...|          Technician|         5|          RENT|      38400.0|           NY|          126xx|            USA|    G|       G1|    Source Verified|                19013.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|ca7a45b24b9d86214...|            Mechanic|         1|          RENT|      75000.0|           NY|          112xx|            USA|    B|       B5|    Source Verified|                84162.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|1b1b3c9c669563fce...|          Controller|        10|      MORTGAGE|      85000.0|           PA|          152xx|            USA|    B|       B1|           Verified|               248085.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|6607bbf32a730c47a...|Disclosure Specia...|         1|      MORTGAGE|      35000.0|           MO|          651xx|            USA|    F|       F3|    Source Verified|                62300.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|a9a74381891a11cdb...|                null|         6|      MORTGAGE|      55000.0|           NY|          100xx|            USA|    E|       E2|           Verified|               156860.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|31155e0df1e149a66...|             Manager|        10|           OWN|      47000.0|           OH|          436xx|            USA|    C|       C4|    Source Verified|                47253.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|ae15f556bb77a9717...|      Superintendent|        10|      MORTGAGE|     145000.0|           MS|          394xx|            USA|    B|       B3|           Verified|               279788.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|5eb9ce48d84be3652...|     Legal Assistant|         1|           OWN|      55000.0|           CA|          926xx|            USA|    A|       A1|           Verified|               553950.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|7f0924f73bd5e10f2...|              Closer|        10|      MORTGAGE|      94000.0|           MN|          550xx|            USA|    C|       C5|    Source Verified|               432162.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|876eeebfa8e2b611f...|   Financial Analyst|         1|          RENT|      60000.0|           MA|          064xx|            USA|    B|       B4|    Source Verified|               137201.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|5173590df75aeadc9...|        bus operator|         2|          RENT|      65000.0|           NJ|          073xx|            USA|    D|       D1|           Verified|                70024.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|f8c8f95d64b366d72...|Registered Sales ...|        10|      MORTGAGE|     137000.0|           IL|          605xx|            USA|    C|       C4|    Source Verified|               271397.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|04ee37fc11251f283...|                Host|         3|          RENT|      43000.0|           NV|          890xx|            USA|    D|       D4|    Source Verified|                55709.0|     Individual|              null|                     null|2024-07-02 00:53:...|
|316d2d0baa41de907...|      Vice President|         2|      MORTGAGE|     200000.0|           IN|          461xx|            USA|    F|       F3|           Verified|               147887.0|     Individual|              null|                     null|2024-07-02 00:53:...|
+--------------------+--------------------+----------+--------------+-------------+-------------+---------------+---------------+-----+---------+-------------------+-----------------------+---------------+------------------+-------------------------+--------------------+
only showing top 20 rows

In [23]:
customer_cleaned_state.createOrReplaceTempView("customer_data")

In [65]:
spark.sql("select count(*) from customer_data where length(address_state) > 2")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [103]:
customer_cleaned_state.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/customer_data_csv") \
.save()

In [24]:
customer_cleaned_state.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/customer_data_parquet") \
.save()

### Loan Data

In [103]:
loan_df = spark.read \
.option("header", True) \
.format("csv") \
.option("inferSchema", True) \
.load("/user/itv010130/loanproject/raw/loan_data_csv")

In [26]:
loan_df

+-------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+--------------------+--------------------+
|loan_id|           member_id|loan_amnt|funded_amnt|     term|int_rate|installment| issue_d|loan_status|             purpose|               title|
+-------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+--------------------+--------------------+
| 491699|961ae110ec063761f...|   7000.0|     7000.0|36 months|   12.73|     234.97|Mar-2010| Fully Paid|  debt_consolidation|Noelle's debt con...|
| 491685|291854d244748c911...|  15000.0|    15000.0|36 months|   10.62|      488.4|Mar-2010| Fully Paid|               other|           Education|
| 491667|b5cf66b90193da9d2...|   6400.0|     6400.0|36 months|    7.88|      200.2|Mar-2010| Fully Paid|  debt_consolidation|   Make money easily|
| 491160|7f53fd1acb7759e5b...|   4000.0|     4000.0|36 months|   14.59|     137.86|Mar-2010| Fully Paid|             wedding|    wedding expenses|
| 491675|12edc8e328b993914...|  20000.0|    20000.0|36 months|   13.85|     682.08|Mar-2010| Fully Paid|               other| Short Term Tax Loan|
| 491668|e18a847f091332ff6...|   6000.0|     6000.0|36 months|   11.36|     197.47|Mar-2010|Charged Off|  debt_consolidation|GREAT BORROWER --...|
| 491663|d6fe0000e876ab76d...|   5500.0|     5500.0|36 months|   11.36|     181.02|Mar-2010| Fully Paid|         credit_card|     Road to Success|
| 491632|62c38934f3a2ebcd2...|  10000.0|    10000.0|36 months|    15.7|     350.11|Mar-2010| Fully Paid|         credit_card|Finish Paying off...|
| 491618|7701762ef5d302b0d...|  25000.0|    25000.0|36 months|   15.33|     870.71|Mar-2010| Fully Paid|  debt_consolidation|Pay off my high i...|
| 491622|42a2df45b02b21b9a...|  25000.0|    25000.0|36 months|   16.07|     879.85|Mar-2010| Fully Paid|  debt_consolidation|        Debt Pay Off|
| 491552|b1ba0adce0baea939...|  22000.0|    22000.0|36 months|   11.36|     724.05|Mar-2010| Fully Paid|  debt_consolidation|Getting rid of Ne...|
| 491477|82cdc418e3907686a...|  16750.0|    16750.0|36 months|   13.11|     565.23|Mar-2010| Fully Paid|  debt_consolidation|Special Ed teache...|
| 491596|6cbc67caa30708b24...|   3600.0|     3600.0|36 months|    15.7|     126.04|Mar-2010| Fully Paid|         credit_card|Credit Card Elimi...|
| 491575|3bae7a88975616641...|  13750.0|    13750.0|36 months|   14.96|     476.39|Mar-2010| Fully Paid|  debt_consolidation|       Personal Loan|
| 491581|55694e52b6a698777...|   8500.0|     8500.0|36 months|   10.62|     276.76|Mar-2010| Fully Paid|  debt_consolidation|Reduce Debt befor...|
| 423260|c666d309594cceae5...|  10000.0|    10000.0|36 months|    7.88|     312.81|Mar-2010| Fully Paid|first as a Borrow...|first as a relati...|
| 488022|cc859b4c14c9eb521...|   8000.0|     8000.0|36 months|    9.88|     257.69|Mar-2010| Fully Paid|  debt_consolidation|pay off credit ca...|
| 491557|dc1eeb967d0041bec...|  12000.0|    12000.0|36 months|   13.48|     407.09|Mar-2010| Fully Paid|               other|        Payoff Easy!|
| 491494|123126e86ba5ecd5d...|  10000.0|    10000.0|36 months|   14.96|     346.47|Mar-2010| Fully Paid|  debt_consolidation|Credit Card Conso...|
| 491487|aeb1851b33df8f924...|  11000.0|    11000.0|36 months|   13.85|     375.15|Mar-2010| Fully Paid|  debt_consolidation|Credit card conso...|
+-------+--------------------+---------+-----------+---------+--------+-----------+--------+-----------+--------------------+--------------------+
only showing top 20 rows

In [27]:
loan_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amnt: double (nullable = true)
 |-- funded_amnt: double (nullable = true)
 |-- term: string (nullable = true)
 |-- int_rate: double (nullable = true)
 |-- installment: double (nullable = true)
 |-- issue_d: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- purpose: string (nullable = true)
 |-- title: string (nullable = true)

In [104]:
loan_schema = 'loan_id string,member_id string,loan_amount float,funded_amount float,loan_term_month string,interest_rate float,monthly_installment float,issue_date string,loan_status string,loan_purpose string,loan_title string'

In [105]:
loan_df = spark.read \
.option("header", True) \
.format("csv") \
.schema(loan_schema) \
.load("/user/itv010130/loanproject/raw/loan_data_csv")

In [31]:
loan_df

DataFrame[loan_id: string, member_id: string, loan_amount: float, funded_amount: float, loan_term_month: string, interest_rate: float, monthly_installment: float, issue_date: string, loan_status: string, loan_purpose: string, loan_title: string]

In [32]:
loan_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amount: float (nullable = true)
 |-- funded_amount: float (nullable = true)
 |-- loan_term_month: string (nullable = true)
 |-- interest_rate: float (nullable = true)
 |-- monthly_installment: float (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- loan_title: string (nullable = true)

In [106]:
from pyspark.sql.functions import current_timestamp

In [107]:
new_loan_df = loan_df.withColumn("ingestion_date",current_timestamp())

In [108]:
new_loan_df.createOrReplaceTempView("loan_data")

In [56]:
spark.sql("select count(*) from loan_data")

+--------+
|count(1)|
+--------+
| 2260701|
+--------+

In [57]:
spark.sql("select * from loan_data")

+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
|loan_id|           member_id|loan_amount|funded_amount|loan_term_month|interest_rate|monthly_installment|issue_date|loan_status|        loan_purpose|          loan_title|      ingestion_date|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
| 491699|961ae110ec063761f...|     7000.0|       7000.0|      36 months|        12.73|             234.97|  Mar-2010| Fully Paid|  debt_consolidation|Noelle's debt con...|2024-07-04 22:34:...|
| 491685|291854d244748c911...|    15000.0|      15000.0|      36 months|        10.62|              488.4|  Mar-2010| Fully Paid|               other|           Education|2024-07-04 22:34:...|
| 491667|b5cf66b90193da9d2...|     6400.0|       6400.0|      36 months|         7.88|              200.2|  Mar-2010| Fully Paid|  debt_consolidation|   Make money easily|2024-07-04 22:34:...|
| 491160|7f53fd1acb7759e5b...|     4000.0|       4000.0|      36 months|        14.59|             137.86|  Mar-2010| Fully Paid|             wedding|    wedding expenses|2024-07-04 22:34:...|
| 491675|12edc8e328b993914...|    20000.0|      20000.0|      36 months|        13.85|             682.08|  Mar-2010| Fully Paid|               other| Short Term Tax Loan|2024-07-04 22:34:...|
| 491668|e18a847f091332ff6...|     6000.0|       6000.0|      36 months|        11.36|             197.47|  Mar-2010|Charged Off|  debt_consolidation|GREAT BORROWER --...|2024-07-04 22:34:...|
| 491663|d6fe0000e876ab76d...|     5500.0|       5500.0|      36 months|        11.36|             181.02|  Mar-2010| Fully Paid|         credit_card|     Road to Success|2024-07-04 22:34:...|
| 491632|62c38934f3a2ebcd2...|    10000.0|      10000.0|      36 months|         15.7|             350.11|  Mar-2010| Fully Paid|         credit_card|Finish Paying off...|2024-07-04 22:34:...|
| 491618|7701762ef5d302b0d...|    25000.0|      25000.0|      36 months|        15.33|             870.71|  Mar-2010| Fully Paid|  debt_consolidation|Pay off my high i...|2024-07-04 22:34:...|
| 491622|42a2df45b02b21b9a...|    25000.0|      25000.0|      36 months|        16.07|             879.85|  Mar-2010| Fully Paid|  debt_consolidation|        Debt Pay Off|2024-07-04 22:34:...|
| 491552|b1ba0adce0baea939...|    22000.0|      22000.0|      36 months|        11.36|             724.05|  Mar-2010| Fully Paid|  debt_consolidation|Getting rid of Ne...|2024-07-04 22:34:...|
| 491477|82cdc418e3907686a...|    16750.0|      16750.0|      36 months|        13.11|             565.23|  Mar-2010| Fully Paid|  debt_consolidation|Special Ed teache...|2024-07-04 22:34:...|
| 491596|6cbc67caa30708b24...|     3600.0|       3600.0|      36 months|         15.7|             126.04|  Mar-2010| Fully Paid|         credit_card|Credit Card Elimi...|2024-07-04 22:34:...|
| 491575|3bae7a88975616641...|    13750.0|      13750.0|      36 months|        14.96|             476.39|  Mar-2010| Fully Paid|  debt_consolidation|       Personal Loan|2024-07-04 22:34:...|
| 491581|55694e52b6a698777...|     8500.0|       8500.0|      36 months|        10.62|             276.76|  Mar-2010| Fully Paid|  debt_consolidation|Reduce Debt befor...|2024-07-04 22:34:...|
| 423260|c666d309594cceae5...|    10000.0|      10000.0|      36 months|         7.88|             312.81|  Mar-2010| Fully Paid|first as a Borrow...|first as a relati...|2024-07-04 22:34:...|
| 488022|cc859b4c14c9eb521...|     8000.0|       8000.0|      36 months|         9.88|             257.69|  Mar-2010| Fully Paid|  debt_consolidation|pay off credit ca...|2024-07-04 22:34:...|
| 491557|dc1eeb967d0041bec...|    12000.0|      12000.0|      36 months|        13.48|             407.09|  Mar-2010| Fully Paid|               other|        Payoff Easy!|2024-07-04 22:34:...|
| 491494|123126e86ba5ecd5d...|    10000.0|      10000.0|      36 months|        14.96|             346.47|  Mar-2010| Fully Paid|  debt_consolidation|Credit Card Conso...|2024-07-04 22:34:...|
| 491487|aeb1851b33df8f924...|    11000.0|      11000.0|      36 months|        13.85|             375.15|  Mar-2010| Fully Paid|  debt_consolidation|Credit card conso...|2024-07-04 22:34:...|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [63]:
spark.sql("select count(*) from loan_data where loan_amount is null")

+--------+
|count(1)|
+--------+
|      33|
+--------+

In [64]:
spark.sql("select * from loan_data where loan_amount is null")

+--------------------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------+----------+--------------------+
|             loan_id|           member_id|loan_amount|funded_amount|loan_term_month|interest_rate|monthly_installment|issue_date|loan_status|loan_purpose|loan_title|      ingestion_date|
+--------------------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------+----------+--------------------+
|Loans that do not...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
|Total amount fund...|e3b0c44298fc1c149...|       null|         null|           null|         null|               null|      null|       null|        null|      null|2024-07-04 22:37:...|
+--------------------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------+----------+--------------------+
only showing top 20 rows

In [109]:
null_columns = ['loan_amount','funded_amount','loan_term_month','interest_rate','monthly_installment','issue_date','loan_status','loan_purpose']

In [110]:
loan_filtered_df = new_loan_df.na.drop(subset=null_columns)

In [67]:
loan_filtered_df.count()

2260667

In [111]:
loan_filtered_df.createOrReplaceTempView("loan_data")

In [68]:
loan_filtered_df

+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
|loan_id|           member_id|loan_amount|funded_amount|loan_term_month|interest_rate|monthly_installment|issue_date|loan_status|        loan_purpose|          loan_title|      ingestion_date|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
| 491699|961ae110ec063761f...|     7000.0|       7000.0|      36 months|        12.73|             234.97|  Mar-2010| Fully Paid|  debt_consolidation|Noelle's debt con...|2024-07-04 22:46:...|
| 491685|291854d244748c911...|    15000.0|      15000.0|      36 months|        10.62|              488.4|  Mar-2010| Fully Paid|               other|           Education|2024-07-04 22:46:...|
| 491667|b5cf66b90193da9d2...|     6400.0|       6400.0|      36 months|         7.88|              200.2|  Mar-2010| Fully Paid|  debt_consolidation|   Make money easily|2024-07-04 22:46:...|
| 491160|7f53fd1acb7759e5b...|     4000.0|       4000.0|      36 months|        14.59|             137.86|  Mar-2010| Fully Paid|             wedding|    wedding expenses|2024-07-04 22:46:...|
| 491675|12edc8e328b993914...|    20000.0|      20000.0|      36 months|        13.85|             682.08|  Mar-2010| Fully Paid|               other| Short Term Tax Loan|2024-07-04 22:46:...|
| 491668|e18a847f091332ff6...|     6000.0|       6000.0|      36 months|        11.36|             197.47|  Mar-2010|Charged Off|  debt_consolidation|GREAT BORROWER --...|2024-07-04 22:46:...|
| 491663|d6fe0000e876ab76d...|     5500.0|       5500.0|      36 months|        11.36|             181.02|  Mar-2010| Fully Paid|         credit_card|     Road to Success|2024-07-04 22:46:...|
| 491632|62c38934f3a2ebcd2...|    10000.0|      10000.0|      36 months|         15.7|             350.11|  Mar-2010| Fully Paid|         credit_card|Finish Paying off...|2024-07-04 22:46:...|
| 491618|7701762ef5d302b0d...|    25000.0|      25000.0|      36 months|        15.33|             870.71|  Mar-2010| Fully Paid|  debt_consolidation|Pay off my high i...|2024-07-04 22:46:...|
| 491622|42a2df45b02b21b9a...|    25000.0|      25000.0|      36 months|        16.07|             879.85|  Mar-2010| Fully Paid|  debt_consolidation|        Debt Pay Off|2024-07-04 22:46:...|
| 491552|b1ba0adce0baea939...|    22000.0|      22000.0|      36 months|        11.36|             724.05|  Mar-2010| Fully Paid|  debt_consolidation|Getting rid of Ne...|2024-07-04 22:46:...|
| 491477|82cdc418e3907686a...|    16750.0|      16750.0|      36 months|        13.11|             565.23|  Mar-2010| Fully Paid|  debt_consolidation|Special Ed teache...|2024-07-04 22:46:...|
| 491596|6cbc67caa30708b24...|     3600.0|       3600.0|      36 months|         15.7|             126.04|  Mar-2010| Fully Paid|         credit_card|Credit Card Elimi...|2024-07-04 22:46:...|
| 491575|3bae7a88975616641...|    13750.0|      13750.0|      36 months|        14.96|             476.39|  Mar-2010| Fully Paid|  debt_consolidation|       Personal Loan|2024-07-04 22:46:...|
| 491581|55694e52b6a698777...|     8500.0|       8500.0|      36 months|        10.62|             276.76|  Mar-2010| Fully Paid|  debt_consolidation|Reduce Debt befor...|2024-07-04 22:46:...|
| 423260|c666d309594cceae5...|    10000.0|      10000.0|      36 months|         7.88|             312.81|  Mar-2010| Fully Paid|first as a Borrow...|first as a relati...|2024-07-04 22:46:...|
| 488022|cc859b4c14c9eb521...|     8000.0|       8000.0|      36 months|         9.88|             257.69|  Mar-2010| Fully Paid|  debt_consolidation|pay off credit ca...|2024-07-04 22:46:...|
| 491557|dc1eeb967d0041bec...|    12000.0|      12000.0|      36 months|        13.48|             407.09|  Mar-2010| Fully Paid|               other|        Payoff Easy!|2024-07-04 22:46:...|
| 491494|123126e86ba5ecd5d...|    10000.0|      10000.0|      36 months|        14.96|             346.47|  Mar-2010| Fully Paid|  debt_consolidation|Credit Card Conso...|2024-07-04 22:46:...|
| 491487|aeb1851b33df8f924...|    11000.0|      11000.0|      36 months|        13.85|             375.15|  Mar-2010| Fully Paid|  debt_consolidation|Credit card conso...|2024-07-04 22:46:...|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [112]:
from pyspark.sql.functions import regexp_replace, col

In [113]:
loan_term_fixed_df = loan_filtered_df.withColumn("loan_term_month",(regexp_replace(col("loan_term_month"),"months","") \
.cast("int")/12) \
.cast("int")) \
.withColumnRenamed("loan_term_month","loan_term_years")

In [114]:
loan_term_fixed_df

+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
|loan_id|           member_id|loan_amount|funded_amount|loan_term_years|interest_rate|monthly_installment|issue_date|loan_status|        loan_purpose|          loan_title|      ingestion_date|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
| 491699|961ae110ec063761f...|     7000.0|       7000.0|              3|        12.73|             234.97|  Mar-2010| Fully Paid|  debt_consolidation|Noelle's debt con...|2024-07-04 23:20:...|
| 491685|291854d244748c911...|    15000.0|      15000.0|              3|        10.62|              488.4|  Mar-2010| Fully Paid|               other|           Education|2024-07-04 23:20:...|
| 491667|b5cf66b90193da9d2...|     6400.0|       6400.0|              3|         7.88|              200.2|  Mar-2010| Fully Paid|  debt_consolidation|   Make money easily|2024-07-04 23:20:...|
| 491160|7f53fd1acb7759e5b...|     4000.0|       4000.0|              3|        14.59|             137.86|  Mar-2010| Fully Paid|             wedding|    wedding expenses|2024-07-04 23:20:...|
| 491675|12edc8e328b993914...|    20000.0|      20000.0|              3|        13.85|             682.08|  Mar-2010| Fully Paid|               other| Short Term Tax Loan|2024-07-04 23:20:...|
| 491668|e18a847f091332ff6...|     6000.0|       6000.0|              3|        11.36|             197.47|  Mar-2010|Charged Off|  debt_consolidation|GREAT BORROWER --...|2024-07-04 23:20:...|
| 491663|d6fe0000e876ab76d...|     5500.0|       5500.0|              3|        11.36|             181.02|  Mar-2010| Fully Paid|         credit_card|     Road to Success|2024-07-04 23:20:...|
| 491632|62c38934f3a2ebcd2...|    10000.0|      10000.0|              3|         15.7|             350.11|  Mar-2010| Fully Paid|         credit_card|Finish Paying off...|2024-07-04 23:20:...|
| 491618|7701762ef5d302b0d...|    25000.0|      25000.0|              3|        15.33|             870.71|  Mar-2010| Fully Paid|  debt_consolidation|Pay off my high i...|2024-07-04 23:20:...|
| 491622|42a2df45b02b21b9a...|    25000.0|      25000.0|              3|        16.07|             879.85|  Mar-2010| Fully Paid|  debt_consolidation|        Debt Pay Off|2024-07-04 23:20:...|
| 491552|b1ba0adce0baea939...|    22000.0|      22000.0|              3|        11.36|             724.05|  Mar-2010| Fully Paid|  debt_consolidation|Getting rid of Ne...|2024-07-04 23:20:...|
| 491477|82cdc418e3907686a...|    16750.0|      16750.0|              3|        13.11|             565.23|  Mar-2010| Fully Paid|  debt_consolidation|Special Ed teache...|2024-07-04 23:20:...|
| 491596|6cbc67caa30708b24...|     3600.0|       3600.0|              3|         15.7|             126.04|  Mar-2010| Fully Paid|         credit_card|Credit Card Elimi...|2024-07-04 23:20:...|
| 491575|3bae7a88975616641...|    13750.0|      13750.0|              3|        14.96|             476.39|  Mar-2010| Fully Paid|  debt_consolidation|       Personal Loan|2024-07-04 23:20:...|
| 491581|55694e52b6a698777...|     8500.0|       8500.0|              3|        10.62|             276.76|  Mar-2010| Fully Paid|  debt_consolidation|Reduce Debt befor...|2024-07-04 23:20:...|
| 423260|c666d309594cceae5...|    10000.0|      10000.0|              3|         7.88|             312.81|  Mar-2010| Fully Paid|first as a Borrow...|first as a relati...|2024-07-04 23:20:...|
| 488022|cc859b4c14c9eb521...|     8000.0|       8000.0|              3|         9.88|             257.69|  Mar-2010| Fully Paid|  debt_consolidation|pay off credit ca...|2024-07-04 23:20:...|
| 491557|dc1eeb967d0041bec...|    12000.0|      12000.0|              3|        13.48|             407.09|  Mar-2010| Fully Paid|               other|        Payoff Easy!|2024-07-04 23:20:...|
| 491494|123126e86ba5ecd5d...|    10000.0|      10000.0|              3|        14.96|             346.47|  Mar-2010| Fully Paid|  debt_consolidation|Credit Card Conso...|2024-07-04 23:20:...|
| 491487|aeb1851b33df8f924...|    11000.0|      11000.0|              3|        13.85|             375.15|  Mar-2010| Fully Paid|  debt_consolidation|Credit card conso...|2024-07-04 23:20:...|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+--------------------+--------------------+--------------------+
only showing top 20 rows

In [93]:
loan_term_fixed_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- member_id: string (nullable = true)
 |-- loan_amount: float (nullable = true)
 |-- funded_amount: float (nullable = true)
 |-- loan_term_years: integer (nullable = true)
 |-- interest_rate: float (nullable = true)
 |-- monthly_installment: float (nullable = true)
 |-- issue_date: string (nullable = true)
 |-- loan_status: string (nullable = true)
 |-- loan_purpose: string (nullable = true)
 |-- loan_title: string (nullable = true)
 |-- ingestion_date: timestamp (nullable = false)

In [115]:
loan_term_fixed_df.createOrReplaceTempView("loan_data")

In [117]:
spark.sql("select loan_purpose,count(*) as total_count from loan_data group by loan_purpose order by total_count desc")

+--------------------+-----------+
|        loan_purpose|total_count|
+--------------------+-----------+
|  debt_consolidation|    1277790|
|         credit_card|     516926|
|    home_improvement|     150440|
|               other|     139413|
|      major_purchase|      50429|
|             medical|      27481|
|      small_business|      24659|
|                 car|      24009|
|            vacation|      15525|
|              moving|      15402|
|               house|      14131|
|             wedding|       2351|
|    renewable_energy|       1445|
|         educational|        412|
|                 768|          1|
|              stocks|          1|
|putting together ...|          1|
|but we cant all b...|          1|
|              brakes|          1|
|please feel free ...|          1|
+--------------------+-----------+
only showing top 20 rows

In [118]:
loan_purpose_lookup = ['debt_consolidation','credit_card','home_improvement','other','major_purchase','medical','small_business','car','vacation','moving','house','wedding','renewable_energy','educational']

In [119]:
from pyspark.sql.functions import when

In [120]:
loans_purpose_fixed_df = loan_term_fixed_df.withColumn("loan_purpose",when(col("loan_purpose").isin(loan_purpose_lookup),col("loan_purpose")).otherwise("other"))

In [121]:
loans_purpose_fixed_df.createOrReplaceTempView("loan_data")

In [122]:
loans_purpose_fixed_df

+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
|loan_id|           member_id|loan_amount|funded_amount|loan_term_years|interest_rate|monthly_installment|issue_date|loan_status|      loan_purpose|          loan_title|      ingestion_date|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
| 491699|961ae110ec063761f...|     7000.0|       7000.0|              3|        12.73|             234.97|  Mar-2010| Fully Paid|debt_consolidation|Noelle's debt con...|2024-07-04 23:21:...|
| 491685|291854d244748c911...|    15000.0|      15000.0|              3|        10.62|              488.4|  Mar-2010| Fully Paid|             other|           Education|2024-07-04 23:21:...|
| 491667|b5cf66b90193da9d2...|     6400.0|       6400.0|              3|         7.88|              200.2|  Mar-2010| Fully Paid|debt_consolidation|   Make money easily|2024-07-04 23:21:...|
| 491160|7f53fd1acb7759e5b...|     4000.0|       4000.0|              3|        14.59|             137.86|  Mar-2010| Fully Paid|           wedding|    wedding expenses|2024-07-04 23:21:...|
| 491675|12edc8e328b993914...|    20000.0|      20000.0|              3|        13.85|             682.08|  Mar-2010| Fully Paid|             other| Short Term Tax Loan|2024-07-04 23:21:...|
| 491668|e18a847f091332ff6...|     6000.0|       6000.0|              3|        11.36|             197.47|  Mar-2010|Charged Off|debt_consolidation|GREAT BORROWER --...|2024-07-04 23:21:...|
| 491663|d6fe0000e876ab76d...|     5500.0|       5500.0|              3|        11.36|             181.02|  Mar-2010| Fully Paid|       credit_card|     Road to Success|2024-07-04 23:21:...|
| 491632|62c38934f3a2ebcd2...|    10000.0|      10000.0|              3|         15.7|             350.11|  Mar-2010| Fully Paid|       credit_card|Finish Paying off...|2024-07-04 23:21:...|
| 491618|7701762ef5d302b0d...|    25000.0|      25000.0|              3|        15.33|             870.71|  Mar-2010| Fully Paid|debt_consolidation|Pay off my high i...|2024-07-04 23:21:...|
| 491622|42a2df45b02b21b9a...|    25000.0|      25000.0|              3|        16.07|             879.85|  Mar-2010| Fully Paid|debt_consolidation|        Debt Pay Off|2024-07-04 23:21:...|
| 491552|b1ba0adce0baea939...|    22000.0|      22000.0|              3|        11.36|             724.05|  Mar-2010| Fully Paid|debt_consolidation|Getting rid of Ne...|2024-07-04 23:21:...|
| 491477|82cdc418e3907686a...|    16750.0|      16750.0|              3|        13.11|             565.23|  Mar-2010| Fully Paid|debt_consolidation|Special Ed teache...|2024-07-04 23:21:...|
| 491596|6cbc67caa30708b24...|     3600.0|       3600.0|              3|         15.7|             126.04|  Mar-2010| Fully Paid|       credit_card|Credit Card Elimi...|2024-07-04 23:21:...|
| 491575|3bae7a88975616641...|    13750.0|      13750.0|              3|        14.96|             476.39|  Mar-2010| Fully Paid|debt_consolidation|       Personal Loan|2024-07-04 23:21:...|
| 491581|55694e52b6a698777...|     8500.0|       8500.0|              3|        10.62|             276.76|  Mar-2010| Fully Paid|debt_consolidation|Reduce Debt befor...|2024-07-04 23:21:...|
| 423260|c666d309594cceae5...|    10000.0|      10000.0|              3|         7.88|             312.81|  Mar-2010| Fully Paid|             other|first as a relati...|2024-07-04 23:21:...|
| 488022|cc859b4c14c9eb521...|     8000.0|       8000.0|              3|         9.88|             257.69|  Mar-2010| Fully Paid|debt_consolidation|pay off credit ca...|2024-07-04 23:21:...|
| 491557|dc1eeb967d0041bec...|    12000.0|      12000.0|              3|        13.48|             407.09|  Mar-2010| Fully Paid|             other|        Payoff Easy!|2024-07-04 23:21:...|
| 491494|123126e86ba5ecd5d...|    10000.0|      10000.0|              3|        14.96|             346.47|  Mar-2010| Fully Paid|debt_consolidation|Credit Card Conso...|2024-07-04 23:21:...|
| 491487|aeb1851b33df8f924...|    11000.0|      11000.0|              3|        13.85|             375.15|  Mar-2010| Fully Paid|debt_consolidation|Credit card conso...|2024-07-04 23:21:...|
+-------+--------------------+-----------+-------------+---------------+-------------+-------------------+----------+-----------+------------------+--------------------+--------------------+
only showing top 20 rows

In [132]:
spark.sql("select loan_purpose,count(*) as total_count from loan_data group by loan_purpose order by total_count desc")

+------------------+-----------+
|      loan_purpose|total_count|
+------------------+-----------+
|debt_consolidation|    1277790|
|       credit_card|     516926|
|  home_improvement|     150440|
|             other|     139667|
|    major_purchase|      50429|
|           medical|      27481|
|    small_business|      24659|
|               car|      24009|
|          vacation|      15525|
|            moving|      15402|
|             house|      14131|
|           wedding|       2351|
|  renewable_energy|       1445|
|       educational|        412|
+------------------+-----------+

In [133]:
from pyspark.sql.functions import count

In [134]:
loans_purpose_fixed_df \
.groupBy("loan_purpose") \
.agg(count("*").alias("total_count")) \
.orderBy(col("total_count").desc())

+------------------+-----------+
|      loan_purpose|total_count|
+------------------+-----------+
|debt_consolidation|    1277790|
|       credit_card|     516926|
|  home_improvement|     150440|
|             other|     139667|
|    major_purchase|      50429|
|           medical|      27481|
|    small_business|      24659|
|               car|      24009|
|          vacation|      15525|
|            moving|      15402|
|             house|      14131|
|           wedding|       2351|
|  renewable_energy|       1445|
|       educational|        412|
+------------------+-----------+

In [136]:
loans_purpose_fixed_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/loan_data_csv") \
.save()

In [137]:
loans_purpose_fixed_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/loan_data_parquet") \
.save()

### Loan Repayment Data

In [2]:
!hadoop fs -ls /user/itv010130/loanproject/raw

Found 4 items
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 00:32 /user/itv010130/loanproject/raw/customer_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:00 /user/itv010130/loanproject/raw/loan_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:12 /user/itv010130/loanproject/raw/loan_defaulters_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:06 /user/itv010130/loanproject/raw/loan_repayment_data_csv

In [92]:
repayment_df = spark.read \
.option("header", True) \
.format("csv") \
.option("inferSchema", True) \
.load("/user/itv010130/loanproject/raw/loan_repayment_data_csv")

In [93]:
repayment_df

+--------+---------------+-------------+------------------+------------------+---------------+------------+------------+
| loan_id|total_rec_prncp|total_rec_int|total_rec_late_fee|       total_pymnt|last_pymnt_amnt|last_pymnt_d|next_pymnt_d|
+--------+---------------+-------------+------------------+------------------+---------------+------------+------------+
|84647143|         4000.0|       614.11|               0.0|   4614.1105673405|        1235.28|    Oct-2018|        null|
|86463837|        9967.93|      6417.24|               0.0|          16385.17|         529.11|    Mar-2019|    Apr-2019|
|86643264|        15200.0|      2329.24|               0.0|  17529.2443508552|       14837.07|    Mar-2017|        null|
|85610005|        1001.45|       469.25|               0.0|            1470.7|         246.05|    Feb-2017|        null|
|86101113|        1316.02|        517.0|               0.0|           2001.23|          87.39|    May-2018|        null|
|85952284|        14000.0|      1851.72|               0.0|15851.717567248501|        4733.71|    Oct-2018|        null|
|84666301|       25193.35|      5450.84|               0.0|          30644.19|         989.14|    Mar-2019|    Apr-2019|
|85872910|         4525.0|       616.49|               0.0|5141.4886605540005|        3693.97|    Jun-2017|        null|
|85615895|         7500.0|      1764.84|               0.0|   9264.8432563596|        2976.53|    Sep-2018|        null|
|86523233|        2522.48|        520.2|               0.0|           3042.68|          98.21|    Mar-2019|    Apr-2019|
|86022413|        40000.0|       2302.1|               0.0|  42302.0960220822|        36827.7|    Jan-2017|        null|
|86432956|        12000.0|      1173.17|               0.0|  13173.1676151676|        7455.91|    Dec-2017|        null|
|85992799|        7566.74|      1555.18|               0.0|           9121.92|         294.61|    Mar-2019|    Apr-2019|
|86453222|        9484.55|      4480.34|               0.0|          13964.89|         451.27|    Mar-2019|    Apr-2019|
|85805832|        12611.0|      2591.99|               0.0|          15202.99|         491.01|    Mar-2019|    Apr-2019|
|86423193|         5000.0|       315.32|               0.0|   5315.3234522254|        4318.04|    Mar-2017|        null|
|86012238|        1168.63|       420.17|               0.0|            1588.8|         196.41|    Apr-2017|        null|
|86377338|       12147.78|      2142.14|               0.0|          14289.92|         461.21|    Mar-2019|    Apr-2019|
|86602165|        10000.0|      1565.31|               0.0|   11565.311524212|          334.3|    May-2018|        null|
|86206722|         8800.0|       1485.9|               0.0|   10285.901937121|         790.63|    Jan-2019|        null|
+--------+---------------+-------------+------------------+------------------+---------------+------------+------------+
only showing top 20 rows

In [94]:
repayment_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- total_rec_prncp: string (nullable = true)
 |-- total_rec_int: string (nullable = true)
 |-- total_rec_late_fee: string (nullable = true)
 |-- total_pymnt: string (nullable = true)
 |-- last_pymnt_amnt: string (nullable = true)
 |-- last_pymnt_d: string (nullable = true)
 |-- next_pymnt_d: string (nullable = true)

In [95]:
repayment_schema = 'loan_id string,total_principle_received float,total_interest_received float,total_late_fee_received float,total_payment float,last_payment_amount float,last_payment_date string,next_payment_date string'

In [96]:
repayment_df = spark.read \
.option("header", True) \
.format("csv") \
.schema(repayment_schema) \
.load("/user/itv010130/loanproject/raw/loan_repayment_data_csv")

In [97]:
repayment_df.printSchema()

root
 |-- loan_id: string (nullable = true)
 |-- total_principle_received: float (nullable = true)
 |-- total_interest_received: float (nullable = true)
 |-- total_late_fee_received: float (nullable = true)
 |-- total_payment: float (nullable = true)
 |-- last_payment_amount: float (nullable = true)
 |-- last_payment_date: string (nullable = true)
 |-- next_payment_date: string (nullable = true)

In [98]:
from pyspark.sql.functions import current_timestamp

In [99]:
repayment_ingestion_df = repayment_df.withColumn('ingestion_date',current_timestamp())

In [100]:
repayment_ingestion_df

+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
| loan_id|total_principle_received|total_interest_received|total_late_fee_received|total_payment|last_payment_amount|last_payment_date|next_payment_date|      ingestion_date|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|84647143|                  4000.0|                 614.11|                    0.0|    4614.1104|            1235.28|         Oct-2018|             null|2024-07-05 14:48:...|
|86463837|                 9967.93|                6417.24|                    0.0|     16385.17|             529.11|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|86643264|                 15200.0|                2329.24|                    0.0|    17529.244|           14837.07|         Mar-2017|             null|2024-07-05 14:48:...|
|85610005|                 1001.45|                 469.25|                    0.0|       1470.7|             246.05|         Feb-2017|             null|2024-07-05 14:48:...|
|86101113|                 1316.02|                  517.0|                    0.0|      2001.23|              87.39|         May-2018|             null|2024-07-05 14:48:...|
|85952284|                 14000.0|                1851.72|                    0.0|    15851.718|            4733.71|         Oct-2018|             null|2024-07-05 14:48:...|
|84666301|                25193.35|                5450.84|                    0.0|     30644.19|             989.14|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|85872910|                  4525.0|                 616.49|                    0.0|     5141.489|            3693.97|         Jun-2017|             null|2024-07-05 14:48:...|
|85615895|                  7500.0|                1764.84|                    0.0|     9264.843|            2976.53|         Sep-2018|             null|2024-07-05 14:48:...|
|86523233|                 2522.48|                  520.2|                    0.0|      3042.68|              98.21|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|86022413|                 40000.0|                 2302.1|                    0.0|    42302.098|            36827.7|         Jan-2017|             null|2024-07-05 14:48:...|
|86432956|                 12000.0|                1173.17|                    0.0|    13173.168|            7455.91|         Dec-2017|             null|2024-07-05 14:48:...|
|85992799|                 7566.74|                1555.18|                    0.0|      9121.92|             294.61|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|86453222|                 9484.55|                4480.34|                    0.0|     13964.89|             451.27|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|85805832|                 12611.0|                2591.99|                    0.0|     15202.99|             491.01|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|86423193|                  5000.0|                 315.32|                    0.0|     5315.323|            4318.04|         Mar-2017|             null|2024-07-05 14:48:...|
|86012238|                 1168.63|                 420.17|                    0.0|       1588.8|             196.41|         Apr-2017|             null|2024-07-05 14:48:...|
|86377338|                12147.78|                2142.14|                    0.0|     14289.92|             461.21|         Mar-2019|         Apr-2019|2024-07-05 14:48:...|
|86602165|                 10000.0|                1565.31|                    0.0|    11565.312|              334.3|         May-2018|             null|2024-07-05 14:48:...|
|86206722|                  8800.0|                 1485.9|                    0.0|    10285.902|             790.63|         Jan-2019|             null|2024-07-05 14:48:...|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [101]:
repayment_ingestion_df.createOrReplaceTempView("repayment_data")

In [102]:
spark.sql("select count(*) from repayment_data")

+--------+
|count(1)|
+--------+
| 2260701|
+--------+

In [103]:
spark.sql("select count(*) from repayment_data where total_principle_received is null")

+--------+
|count(1)|
+--------+
|      69|
+--------+

In [104]:
spark.sql("select count(*) from repayment_data where total_interest_received is null")

+--------+
|count(1)|
+--------+
|      50|
+--------+

In [105]:
spark.sql("select count(*) from repayment_data where total_late_fee_received is null")

+--------+
|count(1)|
+--------+
|      51|
+--------+

In [106]:
spark.sql("select count(*) from repayment_data where total_payment is null")

+--------+
|count(1)|
+--------+
|      94|
+--------+

In [107]:
spark.sql("select count(*) from repayment_data where last_payment_amount is null")

+--------+
|count(1)|
+--------+
|     101|
+--------+

In [108]:
columns_to_check = ['total_principle_received','total_interest_received','total_late_fee_received','total_payment','last_payment_amount']

In [109]:
repayment_filtered = repayment_ingestion_df.na.drop(subset=columns_to_check)

In [110]:
repayment_filtered.count()

2260498

In [111]:
repayment_filtered.createOrReplaceTempView("repayment_data")

In [112]:
spark.sql("select count(*) from repayment_data where total_payment is null")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [113]:
spark.sql("select * from repayment_data where total_payment==0")

+---------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|  loan_id|total_principle_received|total_interest_received|total_late_fee_received|total_payment|last_payment_amount|last_payment_date|next_payment_date|      ingestion_date|
+---------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
| 85686669|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84574291|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 85735063|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84999414|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 85623818|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 85066928|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 83941993|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84486431|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 85471064|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84092358|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 85076472|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84234900|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 83624648|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 83990826|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
| 84111917|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
|126378962|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
|126175336|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
|126148156|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
|125968581|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
|125512918|                     0.0|                    0.0|                    0.0|          0.0|                0.0|             null|             null|2024-07-05 14:49:...|
+---------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [114]:
spark.sql("select * from repayment_data where total_payment==0 AND total_principle_received !=0")

+-------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|loan_id|total_principle_received|total_interest_received|total_late_fee_received|total_payment|last_payment_amount|last_payment_date|next_payment_date|      ingestion_date|
+-------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|1064185|                11600.98|               11600.98|                10000.0|          0.0|                0.0|              0.0|         Dec-2014|2024-07-05 14:49:...|
| 516382|               21890.229|               21856.03|                16000.0|          0.0|                0.0|              0.0|         Mar-2014|2024-07-05 14:49:...|
| 528899|               3045.0364|                3019.64|                 2500.0|          0.0|                0.0|              0.0|         Jan-2013|2024-07-05 14:49:...|
| 527598|               2398.9092|                2220.51|                 2200.0|          0.0|                0.0|              0.0|         Jul-2011|2024-07-05 14:49:...|
| 525697|                21797.86|                19894.9|                15750.0|          0.0|                0.0|              0.0|         Jun-2015|2024-07-05 14:49:...|
| 522641|               3146.8193|                3146.82|                 3000.0|          0.0|                0.0|              0.0|         Sep-2011|2024-07-05 14:49:...|
| 515655|               29938.576|               29905.75|                22800.0|          0.0|                0.0|              0.0|         May-2013|2024-07-05 14:49:...|
| 501234|               15219.313|                15155.9|                12000.0|          0.0|                0.0|              0.0|         May-2013|2024-07-05 14:49:...|
| 498194|               11642.714|               11031.47|                10000.0|          0.0|                0.0|              0.0|         Jan-2013|2024-07-05 14:49:...|
| 495171|               11138.843|               10024.96|                10000.0|          0.0|                0.0|              0.0|         Apr-2013|2024-07-05 14:49:...|
| 493508|               28732.803|               28495.83|                24250.0|          0.0|                0.0|              0.0|         Apr-2013|2024-07-05 14:49:...|
| 485818|               14640.096|               13388.84|                13000.0|          0.0|                0.0|              0.0|         Mar-2013|2024-07-05 14:49:...|
| 485471|               29620.818|               29134.64|                25000.0|          0.0|                0.0|              0.0|         Mar-2013|2024-07-05 14:49:...|
| 482256|                8735.611|                7479.87|                 8000.0|          0.0|                0.0|              0.0|         Feb-2011|2024-07-05 14:49:...|
| 478160|                   410.0|                 407.36|                    0.0|          0.0|              143.1|            410.0|             null|2024-07-05 14:49:...|
| 476557|                28865.18|               24164.67|                5692.31|          0.0|            6972.59|         19916.78|         Dec-2010|2024-07-05 14:49:...|
| 472516|               25951.482|               24731.76|                25000.0|          0.0|                0.0|              0.0|         May-2010|2024-07-05 14:49:...|
| 472197|                12048.13|               12018.01|                10000.0|          0.0|                0.0|              0.0|         Jan-2013|2024-07-05 14:49:...|
| 467364|               29216.791|               29066.19|                24250.0|          0.0|                0.0|              0.0|         Dec-2012|2024-07-05 14:49:...|
| 399499|               26557.729|               26336.41|                24000.0|          0.0|                0.0|              0.0|         Dec-2010|2024-07-05 14:49:...|
+-------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [115]:
from pyspark.sql.functions import when, col

In [116]:
total_repayment_modified_df = repayment_filtered.withColumn("total_payment", when((col("total_principle_received")!=0.0) & (col("total_payment")==0.0),col("total_principle_received")+col("total_interest_received")+col("total_late_fee_received")).otherwise(col("total_payment")))

In [117]:
total_repayment_modified_df

+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
| loan_id|total_principle_received|total_interest_received|total_late_fee_received|total_payment|last_payment_amount|last_payment_date|next_payment_date|      ingestion_date|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|84647143|                  4000.0|                 614.11|                    0.0|    4614.1104|            1235.28|         Oct-2018|             null|2024-07-05 14:49:...|
|86463837|                 9967.93|                6417.24|                    0.0|     16385.17|             529.11|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|86643264|                 15200.0|                2329.24|                    0.0|    17529.244|           14837.07|         Mar-2017|             null|2024-07-05 14:49:...|
|85610005|                 1001.45|                 469.25|                    0.0|       1470.7|             246.05|         Feb-2017|             null|2024-07-05 14:49:...|
|86101113|                 1316.02|                  517.0|                    0.0|      2001.23|              87.39|         May-2018|             null|2024-07-05 14:49:...|
|85952284|                 14000.0|                1851.72|                    0.0|    15851.718|            4733.71|         Oct-2018|             null|2024-07-05 14:49:...|
|84666301|                25193.35|                5450.84|                    0.0|     30644.19|             989.14|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|85872910|                  4525.0|                 616.49|                    0.0|     5141.489|            3693.97|         Jun-2017|             null|2024-07-05 14:49:...|
|85615895|                  7500.0|                1764.84|                    0.0|     9264.843|            2976.53|         Sep-2018|             null|2024-07-05 14:49:...|
|86523233|                 2522.48|                  520.2|                    0.0|      3042.68|              98.21|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|86022413|                 40000.0|                 2302.1|                    0.0|    42302.098|            36827.7|         Jan-2017|             null|2024-07-05 14:49:...|
|86432956|                 12000.0|                1173.17|                    0.0|    13173.168|            7455.91|         Dec-2017|             null|2024-07-05 14:49:...|
|85992799|                 7566.74|                1555.18|                    0.0|      9121.92|             294.61|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|86453222|                 9484.55|                4480.34|                    0.0|     13964.89|             451.27|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|85805832|                 12611.0|                2591.99|                    0.0|     15202.99|             491.01|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|86423193|                  5000.0|                 315.32|                    0.0|     5315.323|            4318.04|         Mar-2017|             null|2024-07-05 14:49:...|
|86012238|                 1168.63|                 420.17|                    0.0|       1588.8|             196.41|         Apr-2017|             null|2024-07-05 14:49:...|
|86377338|                12147.78|                2142.14|                    0.0|     14289.92|             461.21|         Mar-2019|         Apr-2019|2024-07-05 14:49:...|
|86602165|                 10000.0|                1565.31|                    0.0|    11565.312|              334.3|         May-2018|             null|2024-07-05 14:49:...|
|86206722|                  8800.0|                 1485.9|                    0.0|    10285.902|             790.63|         Jan-2019|             null|2024-07-05 14:49:...|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [118]:
total_repayment_modified_df.createOrReplaceTempView("repayment_data")

In [119]:
spark.sql("select count(*) from repayment_data where total_payment==0 AND total_principle_received !=0")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [120]:
spark.sql("select count(*) from repayment_data where total_payment==0")

+--------+
|count(1)|
+--------+
|     949|
+--------+

In [121]:
total_repayment_clean_df = spark.sql("select * from repayment_data where total_payment!=0")

In [122]:
total_repayment_clean_df

+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
| loan_id|total_principle_received|total_interest_received|total_late_fee_received|total_payment|last_payment_amount|last_payment_date|next_payment_date|      ingestion_date|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
|84647143|                  4000.0|                 614.11|                    0.0|    4614.1104|            1235.28|         Oct-2018|             null|2024-07-05 14:50:...|
|86463837|                 9967.93|                6417.24|                    0.0|     16385.17|             529.11|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|86643264|                 15200.0|                2329.24|                    0.0|    17529.244|           14837.07|         Mar-2017|             null|2024-07-05 14:50:...|
|85610005|                 1001.45|                 469.25|                    0.0|       1470.7|             246.05|         Feb-2017|             null|2024-07-05 14:50:...|
|86101113|                 1316.02|                  517.0|                    0.0|      2001.23|              87.39|         May-2018|             null|2024-07-05 14:50:...|
|85952284|                 14000.0|                1851.72|                    0.0|    15851.718|            4733.71|         Oct-2018|             null|2024-07-05 14:50:...|
|84666301|                25193.35|                5450.84|                    0.0|     30644.19|             989.14|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|85872910|                  4525.0|                 616.49|                    0.0|     5141.489|            3693.97|         Jun-2017|             null|2024-07-05 14:50:...|
|85615895|                  7500.0|                1764.84|                    0.0|     9264.843|            2976.53|         Sep-2018|             null|2024-07-05 14:50:...|
|86523233|                 2522.48|                  520.2|                    0.0|      3042.68|              98.21|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|86022413|                 40000.0|                 2302.1|                    0.0|    42302.098|            36827.7|         Jan-2017|             null|2024-07-05 14:50:...|
|86432956|                 12000.0|                1173.17|                    0.0|    13173.168|            7455.91|         Dec-2017|             null|2024-07-05 14:50:...|
|85992799|                 7566.74|                1555.18|                    0.0|      9121.92|             294.61|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|86453222|                 9484.55|                4480.34|                    0.0|     13964.89|             451.27|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|85805832|                 12611.0|                2591.99|                    0.0|     15202.99|             491.01|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|86423193|                  5000.0|                 315.32|                    0.0|     5315.323|            4318.04|         Mar-2017|             null|2024-07-05 14:50:...|
|86012238|                 1168.63|                 420.17|                    0.0|       1588.8|             196.41|         Apr-2017|             null|2024-07-05 14:50:...|
|86377338|                12147.78|                2142.14|                    0.0|     14289.92|             461.21|         Mar-2019|         Apr-2019|2024-07-05 14:50:...|
|86602165|                 10000.0|                1565.31|                    0.0|    11565.312|              334.3|         May-2018|             null|2024-07-05 14:50:...|
|86206722|                  8800.0|                 1485.9|                    0.0|    10285.902|             790.63|         Jan-2019|             null|2024-07-05 14:50:...|
+--------+------------------------+-----------------------+-----------------------+-------------+-------------------+-----------------+-----------------+--------------------+
only showing top 20 rows

In [123]:
total_repayment_clean_df.filter("total_payment==0").count()

0

In [124]:
total_repayment_clean_df.filter("last_payment_date = 0.0").count()

48

In [125]:
total_repayment_clean_df.filter("next_payment_date = 0.0").count()

24

In [126]:
total_repayment_clean_df.filter("last_payment_date is null").count()

1477

In [127]:
total_repayment_clean_df.filter("next_payment_date is null").count()

1344240

In [129]:
last_payment_cleaned_df = total_repayment_clean_df.withColumn("last_payment_date",when((col("last_payment_date")==0.0),None).otherwise(col("last_payment_date")))

In [131]:
last_payment_cleaned_df=last_payment_cleaned_df.withColumn("next_payment_date",when((col("next_payment_date")==0.0),None).otherwise(col("next_payment_date")))

In [133]:
last_payment_cleaned_df.filter("last_payment_date = 0.0").count()

0

In [134]:
last_payment_cleaned_df.filter("next_payment_date = 0.0").count()

0

In [135]:
last_payment_cleaned_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/repayment_data_csv") \
.save()

In [136]:
last_payment_cleaned_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/repayment_data_parquet") \
.save()

In [137]:
!hadoop fs -ls /user/itv010130/loanproject/clean

Found 6 items
drwxr-xr-x   - itv010130 supergroup          0 2024-07-02 01:08 /user/itv010130/loanproject/clean/customer_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 21:51 /user/itv010130/loanproject/clean/customer_data_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 23:42 /user/itv010130/loanproject/clean/loan_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 23:43 /user/itv010130/loanproject/clean/loan_data_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-05 15:01 /user/itv010130/loanproject/clean/repayment_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-05 15:02 /user/itv010130/loanproject/clean/repayment_data_parquet

### Loan Defaulters

In [2]:
! hadoop fs -ls /user/itv010130/loanproject/raw

Found 4 items
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 00:32 /user/itv010130/loanproject/raw/customer_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:00 /user/itv010130/loanproject/raw/loan_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:12 /user/itv010130/loanproject/raw/loan_defaulters_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-06-29 01:06 /user/itv010130/loanproject/raw/loan_repayment_data_csv

In [80]:
defaulters_df = spark.read \
.option("header", True) \
.format("csv") \
.option("inferSchema", True) \
.load("/user/itv010130/loanproject/raw/loan_defaulters_data_csv")

In [81]:
defaulters_df

+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
|           member_id|delinq_2yrs|delinq_amnt|pub_rec|pub_rec_bankruptcies|inq_last_6mths|total_rec_late_fee|mths_since_last_delinq|mths_since_last_record|
+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
|b59d80da191f5b573...|        0.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  31.0|                  null|
|202d9f56ecb7c3bc9...|        1.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                   6.0|                  null|
|e5a140c0922b554b9...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  47.0|                  null|
|e12aefc548f750777...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  33.0|                  null|
|1b3a50d854fbbf97e...|        1.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  21.0|                  null|
|1c4329e5f17697127...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  null|                  null|
|5026c86ad983175eb...|        0.0|        0.0|    1.0|                 0.0|           2.0|               0.0|                  null|                  71.0|
|9847d8c1e9d0b2084...|        1.0|        0.0|    2.0|                 0.0|           0.0|               0.0|                   6.0|                  63.0|
|8340dbe1adea41fb4...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  36.0|                  null|
|d4de0de3ab7d79ad4...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  35.0|                  null|
|3df3cdeddb74a8712...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  null|                  null|
|9dd72636b1b4045b4...|        0.0|        0.0|    0.0|                 0.0|           3.0|               0.0|                  null|                  null|
|1d4e1ef4353b73c00...|        0.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  30.0|                  null|
|6f196952e71277fd4...|        4.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                   5.0|                  null|
|9c617cbc6e3e3d6a1...|        1.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  20.0|                  null|
|45eb04dd75400a942...|        0.0|        0.0|    0.0|                 0.0|           2.0|               0.0|                  28.0|                  null|
|08d233c81f9e50726...|        0.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  null|                  null|
|8ff4d0ed17a1cab92...|        1.0|        0.0|    2.0|                 0.0|           2.0|               0.0|                  15.0|                  32.0|
|aec13cfd611b2cfea...|        1.0|        0.0|    0.0|                 0.0|           1.0|               0.0|                  19.0|                  null|
|9ba8c96ccba6cd1f0...|        0.0|        0.0|    0.0|                 0.0|           0.0|               0.0|                  37.0|                  null|
+--------------------+-----------+-----------+-------+--------------------+--------------+------------------+----------------------+----------------------+
only showing top 20 rows

In [82]:
defaulters_df.printSchema()

root
 |-- member_id: string (nullable = true)
 |-- delinq_2yrs: string (nullable = true)
 |-- delinq_amnt: double (nullable = true)
 |-- pub_rec: string (nullable = true)
 |-- pub_rec_bankruptcies: double (nullable = true)
 |-- inq_last_6mths: string (nullable = true)
 |-- total_rec_late_fee: string (nullable = true)
 |-- mths_since_last_delinq: string (nullable = true)
 |-- mths_since_last_record: string (nullable = true)

In [83]:
defaulters_df.createOrReplaceTempView("defaulters_data")

In [84]:
spark.sql("select distinct(delinq_2yrs) from defaulters_data")

+--------------------+
|         delinq_2yrs|
+--------------------+
|                 1.0|
|I bike to work on...|
|271 monthly payme...|
|               183xx|
|VISA and AMEX cre...|
|etc. and I feel t...|
|                  AZ|
|               017xx|
|               923xx|
|               446xx|
|who is a financia...|
|and all of that c...|
|                  LA|
|               24.66|
|and the removal o...|
|I would like to c...|
|               12.24|
|                22.0|
|so most of my inc...|
|I would like to p...|
+--------------------+
only showing top 20 rows

In [85]:
spark.sql("select distinct(inq_last_6mths) from defaulters_data")

+--------------------+
|      inq_last_6mths|
+--------------------+
|                 1.0|
|               705.0|
|               685.0|
|               675.0|
|               923xx|
|               244xx|
|            Aug-1995|
|               754.0|
|            Apr-1997|
|            Oct-1999|
|               11.64|
|               997xx|
|which is the most...|
|               729.0|
|            Jan-1984|
|               745.0|
|               674.0|
|                20.0|
|            Jan-1994|
|                15.0|
+--------------------+
only showing top 20 rows

In [86]:
spark.sql("select distinct(total_rec_late_fee) from defaulters_data")

+------------------+
|total_rec_late_fee|
+------------------+
|             89.46|
|             36.65|
|     21.3500000043|
|              58.7|
|             102.0|
|373.38000096220003|
|             28.37|
|     39.2800000276|
|    132.7000000479|
|             28.79|
|     15.0000000397|
|     24.7900001302|
|              91.8|
|             19.06|
|       51.49000007|
|             17.42|
|             65.32|
|     67.7600000802|
|             34.71|
|            105.42|
+------------------+
only showing top 20 rows

In [87]:
spark.sql("select distinct(mths_since_last_delinq) from defaulters_data")

+----------------------+
|mths_since_last_delinq|
+----------------------+
|                 102.0|
|                 151.0|
|                   1.0|
|              May-1993|
|              Sep-1998|
|  Debt Smash & Capi...|
|                 685.0|
|              Salaries|
|              Sep-2003|
|                 675.0|
|                  12.8|
|                  84.0|
|                 116.0|
|                 784.0|
|  non tax declared ...|
|                 754.0|
|                    LA|
|                 145.0|
|                 127.0|
|              Oct-1999|
+----------------------+
only showing top 20 rows

In [88]:
spark.sql("select distinct(mths_since_last_record) from defaulters_data")

+----------------------+
|mths_since_last_record|
+----------------------+
|                 102.0|
|                   1.0|
|                 685.0|
|                 705.0|
|              Dec-1981|
|                    AZ|
|                  84.0|
|                 116.0|
|       Working Capital|
|                 754.0|
|                 127.0|
|                  75.0|
|                  50.0|
|                  22.0|
|                 669.0|
|                  65.0|
|                 729.0|
|                 118.0|
|                  38.0|
|                 745.0|
+----------------------+
only showing top 20 rows

In [89]:
spark.sql("select delinq_2yrs,count(delinq_2yrs) as total_count from defaulters_data group by delinq_2yrs order by total_count desc").show(40)

+------------------+-----------+
|       delinq_2yrs|total_count|
+------------------+-----------+
|               0.0|    1838878|
|               1.0|     281335|
|               2.0|      81285|
|               3.0|      29539|
|               4.0|      13179|
|               5.0|       6599|
|               6.0|       3717|
|               7.0|       2062|
|               8.0|       1223|
|               9.0|        818|
|              10.0|        556|
|              11.0|        363|
|              12.0|        264|
|              13.0|        165|
|              14.0|        120|
|              15.0|         87|
|              16.0|         55|
|              17.0|         30|
|              18.0|         30|
|              19.0|         23|
|              20.0|         17|
|              21.0|         12|
|                CA|          8|
|                TX|          6|
|              22.0|          5|
|debt_consolidation|          5|
|    small_business|          5|
|                IL|          5|
|                FL|          4|
|              24.0|          4|
|              26.0|          3|
|             452xx|          3|
|                NY|          3|
|                NJ|          3|
|              29.0|          2|
|                MD|          2|
|              30.0|          2|
|             other|          2|
|              3.44|          2|
|       credit_card|          2|
+------------------+-----------+
only showing top 40 rows

In [90]:
defaulters_schema ='member_id string, delinq_in_2yrs float, delinq_amount float, pub_rec float, pub_record_bankruptcies float, inquiry_in_last_6mths float, total_late_fee_received float, months_since_last_delinq float, months_since_last_record float'

In [91]:
defaulters_df = spark.read \
.option("header", True) \
.format("csv") \
.schema(defaulters_schema) \
.load("/user/itv010130/loanproject/raw/loan_defaulters_data_csv")

In [92]:
defaulters_df

+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
|           member_id|delinq_in_2yrs|delinq_amount|pub_rec|pub_record_bankruptcies|inquiry_in_last_6mths|total_late_fee_received|months_since_last_delinq|months_since_last_record|
+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
|b59d80da191f5b573...|           0.0|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    31.0|                    null|
|202d9f56ecb7c3bc9...|           1.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                     6.0|                    null|
|e5a140c0922b554b9...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    47.0|                    null|
|e12aefc548f750777...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    33.0|                    null|
|1b3a50d854fbbf97e...|           1.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    21.0|                    null|
|1c4329e5f17697127...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    null|                    null|
|5026c86ad983175eb...|           0.0|          0.0|    1.0|                    0.0|                  2.0|                    0.0|                    null|                    71.0|
|9847d8c1e9d0b2084...|           1.0|          0.0|    2.0|                    0.0|                  0.0|                    0.0|                     6.0|                    63.0|
|8340dbe1adea41fb4...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    36.0|                    null|
|d4de0de3ab7d79ad4...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    35.0|                    null|
|3df3cdeddb74a8712...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    null|                    null|
|9dd72636b1b4045b4...|           0.0|          0.0|    0.0|                    0.0|                  3.0|                    0.0|                    null|                    null|
|1d4e1ef4353b73c00...|           0.0|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    30.0|                    null|
|6f196952e71277fd4...|           4.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                     5.0|                    null|
|9c617cbc6e3e3d6a1...|           1.0|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    20.0|                    null|
|45eb04dd75400a942...|           0.0|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    28.0|                    null|
|08d233c81f9e50726...|           0.0|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    null|                    null|
|8ff4d0ed17a1cab92...|           1.0|          0.0|    2.0|                    0.0|                  2.0|                    0.0|                    15.0|                    32.0|
|aec13cfd611b2cfea...|           1.0|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    19.0|                    null|
|9ba8c96ccba6cd1f0...|           0.0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    37.0|                    null|
+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
only showing top 20 rows

In [93]:
defaulters_df.createOrReplaceTempView("defaulters_data")

In [59]:
spark.sql("select delinq_in_2yrs,count(delinq_in_2yrs) as total_count from defaulters_data group by delinq_in_2yrs order by total_count desc").show(40)

+--------------+-----------+
|delinq_in_2yrs|total_count|
+--------------+-----------+
|           0.0|    1838878|
|           1.0|     281335|
|           2.0|      81285|
|           3.0|      29539|
|           4.0|      13179|
|           5.0|       6599|
|           6.0|       3717|
|           7.0|       2062|
|           8.0|       1223|
|           9.0|        818|
|          10.0|        556|
|          11.0|        363|
|          12.0|        264|
|          13.0|        165|
|          14.0|        120|
|          15.0|         87|
|          16.0|         55|
|          18.0|         30|
|          17.0|         30|
|          19.0|         23|
|          20.0|         17|
|          21.0|         12|
|          22.0|          5|
|          24.0|          4|
|          26.0|          3|
|          23.0|          2|
|          25.0|          2|
|          3.44|          2|
|          30.0|          2|
|          29.0|          2|
|          3.45|          1|
|         13.76|          1|
|         20.04|          1|
|         21.72|          1|
|          58.0|          1|
|         22.62|          1|
|          39.0|          1|
|          5.52|          1|
|         22.95|          1|
|         17.17|          1|
+--------------+-----------+
only showing top 40 rows

In [94]:
spark.sql("select count(*) from defaulters_data where delinq_in_2yrs is null")

+--------+
|count(1)|
+--------+
|     261|
+--------+

In [95]:
from pyspark.sql.functions import col

In [96]:
delinq_modified_df = defaulters_df.withColumn("delinq_in_2yrs",col("delinq_in_2yrs").cast("int")).fillna(0,subset=["delinq_in_2yrs"])

In [97]:
delinq_modified_df.createOrReplaceTempView("defaulters_data")

In [98]:
spark.sql("select count(*) from defaulters_data where delinq_in_2yrs is null")

+--------+
|count(1)|
+--------+
|       0|
+--------+

In [99]:
spark.sql("select * from defaulters_data")

+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
|           member_id|delinq_in_2yrs|delinq_amount|pub_rec|pub_record_bankruptcies|inquiry_in_last_6mths|total_late_fee_received|months_since_last_delinq|months_since_last_record|
+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
|b59d80da191f5b573...|             0|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    31.0|                    null|
|202d9f56ecb7c3bc9...|             1|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                     6.0|                    null|
|e5a140c0922b554b9...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    47.0|                    null|
|e12aefc548f750777...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    33.0|                    null|
|1b3a50d854fbbf97e...|             1|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    21.0|                    null|
|1c4329e5f17697127...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    null|                    null|
|5026c86ad983175eb...|             0|          0.0|    1.0|                    0.0|                  2.0|                    0.0|                    null|                    71.0|
|9847d8c1e9d0b2084...|             1|          0.0|    2.0|                    0.0|                  0.0|                    0.0|                     6.0|                    63.0|
|8340dbe1adea41fb4...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    36.0|                    null|
|d4de0de3ab7d79ad4...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    35.0|                    null|
|3df3cdeddb74a8712...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    null|                    null|
|9dd72636b1b4045b4...|             0|          0.0|    0.0|                    0.0|                  3.0|                    0.0|                    null|                    null|
|1d4e1ef4353b73c00...|             0|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    30.0|                    null|
|6f196952e71277fd4...|             4|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                     5.0|                    null|
|9c617cbc6e3e3d6a1...|             1|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    20.0|                    null|
|45eb04dd75400a942...|             0|          0.0|    0.0|                    0.0|                  2.0|                    0.0|                    28.0|                    null|
|08d233c81f9e50726...|             0|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    null|                    null|
|8ff4d0ed17a1cab92...|             1|          0.0|    2.0|                    0.0|                  2.0|                    0.0|                    15.0|                    32.0|
|aec13cfd611b2cfea...|             1|          0.0|    0.0|                    0.0|                  1.0|                    0.0|                    19.0|                    null|
|9ba8c96ccba6cd1f0...|             0|          0.0|    0.0|                    0.0|                  0.0|                    0.0|                    37.0|                    null|
+--------------------+--------------+-------------+-------+-----------------------+---------------------+-----------------------+------------------------+------------------------+
only showing top 20 rows

In [100]:
defaulters_delinq_cleaned_df = spark.sql("select member_id,delinq_in_2yrs,delinq_amount,months_since_last_delinq from defaulters_data where delinq_in_2yrs > 0 or months_since_last_delinq > 0")

In [101]:
defaulters_delinq_cleaned_df

+--------------------+--------------+-------------+------------------------+
|           member_id|delinq_in_2yrs|delinq_amount|months_since_last_delinq|
+--------------------+--------------+-------------+------------------------+
|b59d80da191f5b573...|             0|          0.0|                    31.0|
|202d9f56ecb7c3bc9...|             1|          0.0|                     6.0|
|e5a140c0922b554b9...|             0|          0.0|                    47.0|
|e12aefc548f750777...|             0|          0.0|                    33.0|
|1b3a50d854fbbf97e...|             1|          0.0|                    21.0|
|9847d8c1e9d0b2084...|             1|          0.0|                     6.0|
|8340dbe1adea41fb4...|             0|          0.0|                    36.0|
|d4de0de3ab7d79ad4...|             0|          0.0|                    35.0|
|1d4e1ef4353b73c00...|             0|          0.0|                    30.0|
|6f196952e71277fd4...|             4|          0.0|                     5.0|
|9c617cbc6e3e3d6a1...|             1|          0.0|                    20.0|
|45eb04dd75400a942...|             0|          0.0|                    28.0|
|8ff4d0ed17a1cab92...|             1|          0.0|                    15.0|
|aec13cfd611b2cfea...|             1|          0.0|                    19.0|
|9ba8c96ccba6cd1f0...|             0|          0.0|                    37.0|
|2cf47faee0c996343...|             0|          0.0|                    24.0|
|220e4dd490018abff...|             0|          0.0|                    57.0|
|aaa32c29cb9ccc7ff...|             0|          0.0|                    35.0|
|af7a8a661df3318bd...|             2|          0.0|                     7.0|
|0e744cffa05697dfa...|             0|          0.0|                    45.0|
+--------------------+--------------+-------------+------------------------+
only showing top 20 rows

In [102]:
defaulters_pubrec_df = spark.sql("select member_id from defaulters_data where pub_rec > 0.0 or delinq_in_2yrs > 0.0 or inquiry_in_last_6mths > 0.0")

In [105]:
defaulters_pubrec_df

DataFrame[member_id: string]

In [106]:
defaulters_pubrec_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/defaulters_delinq_id_csv") \
.save()

In [107]:
defaulters_pubrec_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/defaulters_delinq_id_parquet") \
.save()

In [109]:
defaulters_delinq_cleaned_df.write \
.option("header", True) \
.format("csv") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/defaulters_data_csv") \
.save()

In [110]:
defaulters_delinq_cleaned_df.write \
.format("parquet") \
.mode("overwrite") \
.option("path","/user/itv010130/loanproject/clean/defaulters_data_parquet") \
.save()

In [111]:
spark.stop()

In [112]:
! hadoop fs -ls /user/itv010130/loanproject/clean

Found 10 items
drwxr-xr-x   - itv010130 supergroup          0 2024-07-02 01:08 /user/itv010130/loanproject/clean/customer_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 21:51 /user/itv010130/loanproject/clean/customer_data_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-07 20:50 /user/itv010130/loanproject/clean/defaulters_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-07 20:50 /user/itv010130/loanproject/clean/defaulters_data_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-07 20:47 /user/itv010130/loanproject/clean/defaulters_delinq_id_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-07 20:47 /user/itv010130/loanproject/clean/defaulters_delinq_id_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 23:42 /user/itv010130/loanproject/clean/loan_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-04 23:43 /user/itv010130/loanproject/clean/loan_data_parquet
drwxr-xr-x   - itv010130 supergroup          0 2024-07-05 15:01 /user/itv010130/loanproject/clean/repayment_data_csv
drwxr-xr-x   - itv010130 supergroup          0 2024-07-05 15:02 /user/itv010130/loanproject/clean/repayment_data_parquet